@font-face 
  font-family: 'raleway'
  src: url('./Raleway/Raleway-VariableFont_wght.ttf')

@font-face 
  font-family: 'roboto'
  src: url('./Roboto/Roboto-Light.ttf')

/* general tags */

p
  font-family: 'roboto'
  font-size: 16px

h1
  font-family: 'raleway'

h2
  font-family: 'raleway'


h3
  font-family: 'raleway'  

body
  margin: 0px

/* general class structure */

.container
  display: block
  margin-left: auto
  margin-right: auto
  width: 50%

.header
  text-align: center
  padding-top: 10px
  height: 180px
  background-color: #ffcc00

.banner
  font-family: 'raleway'
  font-size: 100px
  font-weight: bold