{% extends "base.html" %}

{% block content %}
<h1>About me and this page</h1>

<p>
  Hey, my name is <strong>Miguel Alexandre and I'm a Lisbon based software engineer </strong>. I've been aroung for about 6 years in the field, mostly as
  a backender building microservices and data pipelines with whatever language was handier at the time. I really like 
  API design, effcient usage of DBs, linted code and good team management. Recently, I've been dabling more in the front end side of things.
</p>

<p>This web site is static page made in Zola! I like Zola because it is easy and fast. I like static pages because <i>same</i>.</p>
<p>All of this is really a kind of an experiment in having a personal home page / blog.</p>

{% endblock content %}