{% extends "base.html" %} {% block title %}About Me | analog-alex{% endblock
title %} {% block content %}
<article class="page-card">
    <h1>About me</h1>

    <p>
        Hey, my name is
        <strong
            >Miguel Alexandre and I'm a Lisbon based software engineer</strong
        >.
    </p>
    <p>
        I've been doing backend web development for about 10 years now, but
        really want to branch out. I want to do deep dives on systems
        programming, game dev, deep learning infrastructure and generally
        high-performance code with a dash of GPU programming. As of now, of
        course, I am also engaging heavily with vibe coding and agentic
        workflows. I find that they can really speed up my workflow, and go from
        idea to implementation much faster. Though, I still do a lot of trad
        coding.
        <strong>What you build you understand.</strong>
        I also like to talk about football and other miscellany.
    </p>

    <p>
        This website is a static page made in Zola! I like Zola because it is
        easy and fast. I like static pages because <i>same</i>.
    </p>
    <p>
        All of this is really a kind of an experiment in having a personal home
        page / blog.
    </p>
</article>

{% endblock content %}
