{% extends "base.html" %}

{% block content %}
<h2>Welcome</h2>

<p>Learn more about me <a href="/about">here</a>.</p>
<p>Read some of my articles <a href="/blog">here</a>.</p>
<p>Some text in PT but mostly in EN.</p>

<br/>

<section class="icons-list">
    <a href="default.asp"><img src="{{ get_url(path="icons/linkedin.png")}}" width="48" height="48" /></a>
    <a href="default.asp"><img src="{{ get_url(path="icons/github.png")}}" width="48" height="48" /></a>
    <a href="default.asp"><img src="{{ get_url(path="icons/yotuube.png")}}" width="48" height="48" /></a>
    <a href="default.asp"><img src="{{ get_url(path="icons/instagram.png")}}" width="48" height="48" /></a>
    <a href="default.asp"><img src="{{ get_url(path="icons/twitter.svg")}}" width="48" height="48" /></a>
    <br/><hr/>
    <a href="default.asp"><img src="{{ get_url(path="icons/gmail.svg")}}" width="48" height="48" /></a>
</section>

{% endblock content %}