{% extends "base.html" %}

{% block content %}
<h2>Welcome</h2>
<hr />

<p>Learn more about me <a href="/about">here</a>.</p>
<p>Read some of my articles <a href="/blog">here</a>.</p>
<p>Some text in PT but mostly in EN.</p>

<br/>

<section class="icons-list">
    <a href="default.asp"><img src="../icons/linkedin.png" width="48" height="48" /></a>
    <a href="default.asp"><img src="../icons/github.png" width="48" height="48" /></a>
    <a href="default.asp"><img src="../icons/yotuube.png" width="48" height="48" /></a>
    <a href="default.asp"><img src="../icons/instagram.png" width="48" height="48" /></a>
    <a href="default.asp"><img src="../icons/facebook.png" width="48" height="48" /></a>
</section>

<hr/>

{% endblock content %}