{% extends "base.html" %}

{% block content %}
<h1>Welcome</h1>

<span>
    <p>
        Learn more about me <a href="/about">here</a>.
    </p>
    
    <p>
        Read some of my articles <a href="/blog">here</a>.
    </p>
    
    <p>
        Some text in PT but mostly in EN.
    </p>
</span>


<br/>

<section class="icons-list">
    <a href="https://github.com/analog-alex">                                 <img id="icon2" src="{{ get_url(path="icons/github.png")}}" width="48" height="48" /></a>
    <a href="https://www.linkedin.com/in/miguel-alexandre-carvalho-71b4b6129"><img id="icon1" src="{{ get_url(path="icons/linkedin.png")}}" width="48" height="48" /></a>
    <a href="https://www.youtube.com/channel/UCU6-RDrAxxdCJUBtlhF8SZA">       <img id="icon3" src="{{ get_url(path="icons/youtube.png")}}" width="48" height="48" /></a>
    <a href="https://www.instagram.com/miguel_alexandre0/">                   <img id="icon4" src="{{ get_url(path="icons/instagram.png")}}" width="48" height="48" /></a>
    <a href="default.asp">                                                    <img id="icon5" src="{{ get_url(path="icons/twitter.svg")}}" width="48" height="48" /></a>
    <br/>
    <a href="mailto:mumbleinout@gmail.com"><img id="icon6" src="{{ get_url(path="icons/gmail.svg")}}" width="48" height="48" /></a>
</section>

{% endblock content %}